.main-nav 
  nav.navbar.navbar-light.bg-light.sticky-top
    a.navbar-brand Mark
    ul.nav.justify-content-end
      li.nav-item
        button.btn.btn-primary.btn-md(type='button', data-toggle='modal', data-target='#exampleModal')
          //- span.glyphicon.glyphicon-plus(aria-hidden='false')
          i.fas.fa-pen
          //- i.fab.fa-plus.plus.fa-stack-2x
                    
          //- span.fa-stack.fa
          //-   i.fas.fa-pen.fa-stack-1x
        //-  Post
      //- li.nav-item
      //-   a.nav-link.active.btn.btn-primary.btn-md(href='/settings') Settings

      

