nav.navbar.navbar-light.bg-light.mb-4
  a.navbar-brand.mr-auto(href="/") Mark
  a.btn.btn-sm.text-right.text-right.btn-primary.mr-2(href='/login') Login
  a.btn.btn-sm.btn-success(href='/signup') Sign Up

.container-fluid.mb-4
  .row
    .col-lg-6.mx-auto
      form.form-inline.w-100
        input.form-control.w-100(type="search" placeholder="Search" aria-label="Search")
