extends layout

block content
  #app
    .container
      .row
        .col
          h1.mb-4=title
      .row
        .col-lg-6
          .card
            .card-header
              .row
                .col-3
                  img(src="https://randomuser.me/api/portraits/men/74.jpg").d-block.rounded-circle.img-fluid
                .col.d-flex.align-items-center.pl-0
                  h5.mb-0 @ferrantejake
            .card-body
              p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus lorem, semper eget erat in, aliquam imperdiet leo. Fusce ac ex et lectus euismod faucibus ac in ante. Nunc laoreet rutrum sagittis.
            .card-footer.text-muted
              .row(style="font-size:0.8rem")
                .col-5
                  p.mb-0.text-muted 5/12/18 8:03 pm
                .col-4
                  p.mb-0.text-muted 4,833 Likes
                .col-3.text-right
                  a(href="#") Like
