extends layout

block content
  #app
    .container
      .row
        .col
          h1.mb-4=title
      .row
        .col-lg-6
              .row
                 mark-component(v-for='mark in marks'  
                    v-on:like_mark="like_mark"  
                    v-bind:content="mark.body"  
                    v-bind:author="mark.author"  
                    v-bind:id="mark.ethereum_id" 
                    v-bind:date="mark.createdAt")
