doctype html
html  
  include includes/head
  body
    include includes/nav

    //- main content   
    block content
    
    //- supporting content
    include includes/post-mark
    
    include includes/footer 
  include includes/scripts

