doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-reboot.css')
  body
    block content
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.0')
    script(src='/js/#{pageScript}.js')
    script(src='/js/bootstrap.js')
