title=title
extends layout

block content
  #login 
    .container
      .row
        .col
          h1.mb-4 Please Login
      .row
        .col-lg-4
          form
            .form-group
              label(for="inputUsername").sr-only Email Address
              input(type='email' v-model='inputUsername' placeholder='email@address.com').form-control
            .form-group
              label(for="inputPassword").sr-only Password
              input(type="password" v-model="inputPassword" placeholder="Password").form-control
           button(class="btn btn-lg btn-primary btn-block" v-on:click="submitForm" type="button") Sign in