title=title
extends layout

block content
  .section#profile
    .row
      .col-12.mt-4.mb-2
        .container
          img(:src="user.avatar").d-block.rounded-circle.img-fluid.mx-auto.mb-0.profile-avatar

      .col-12.align-items-center.p-0.mb-2.text-center
        .container          
          a.active(v-if='targetHandle === account.handle' @click="event => event.preventDefault()" href="#" data-toggle='modal', data-target='#edit-profile-modal').mb-2 edit
          h5.card-title @{{ user.handle }}

      .col-12.p-0.mb-2.text-center
        .container(v-if="account.handle !== targetHandle")
          button(v-if="isFollowing" @click='unfollow').btn-block.btn.btn-default.mx-auto Following
          button(v-else @click="follow").btn-block.btn.btn-primary.mx-auto Follow

      .col-12.p-0.mb-3
        .container
          ul(style="font-size: 0.8rem").list-group
            li.list-group-item.d-flex.align-items-center
              i.material-icons.text-primary.mr-2 group_work
              | {{ followers.length }} Followers
            li.list-group-item.d-flex.align-items-center
              i.material-icons.text-primary.mr-2 chat_bubble
              | {{ marks.length }} Marks
  
  .section.content-spacer
  .section#feed-content
    .row
      #personal-feed(class="container")
        mark-component(v-for='mark in marks' v-bind:mark="mark" inline-template)
          .card
            //- .card-header
            .card-body.row
              .col-2
                a(v-bind:href="'/users/' + mark.owner")
                  img.d-block.rounded-circle.card-avatar(:src="mark.avatar")
                  //- .col-2
              .col-10
                .row
                  .col-12.align-items-center.p-0.mb-1
                    a(v-bind:href="'/users/' + mark.owner")
                      p.badge.badge-info(v-if='mark.bot') BOT
                      h5.card-title @{{ mark.owner }}
                  .col-12.p-0
                    p.card-timestamp.text-muted.p-0.mb-1 {{ mark.createdAt }}
                p.card-text {{ mark.body }}
            .card-footer.row.text-muted(style='font-size:0.8rem')
                .col-3
                  p.mb-0.text-muted {{likes}} likes
                .col-2
                  a.button-link(v-if="liked" v-on:click="unlike") Unlike 
                  a.button-link(v-else v-on:click="like") Like