title=title
extends layout

block content
  #profile
    .section
      .row
        .col-12.mt-4.mb-2
          .container
            img(:src="user.avatar").d-block.rounded-circle.img-fluid.mx-auto.mb-0.profile-avatar

        .col-12.align-items-center.p-0.mb-2.text-center
          .container          
            a.active(v-if='targetHandle === account.handle' @click="event => event.preventDefault()" href="#" data-toggle='modal', data-target='#edit-profile-modal').mb-2 edit
            h5.card-title @{{ user.handle }}

        .col-12.p-0.mb-2.text-center
          .container(v-if="account.handle !== targetHandle")
            button(v-if="isFollowing" @click='unfollow').btn-block.btn.btn-default.mx-auto Following
            button(v-else @click="follow").btn-block.btn.btn-primary.mx-auto Follow

        .col-12.p-0.mb-3
          .container
            ul(style="font-size: 0.8rem").list-group
              //- li.list-group-item.d-flex.align-items-center
              //-   i.material-icons.text-primary.mr-2 person
              //-   | Jake Ferrante
              //- li.list-group-item.d-flex.align-items-center
              //-   i.material-icons.text-primary.mr-2 location_on
              //-   | Orlando, FL
              li.list-group-item.d-flex.align-items-center
                i.material-icons.text-primary.mr-2 group_work
                | {{ followers.length }} Followers
              li.list-group-item.d-flex.align-items-center
                i.material-icons.text-primary.mr-2 chat_bubble
                | {{ marks.length }} Marks

        //- .card-footer.row.text-muted(style='font-size:0.8rem')
        //-     .col-3
        //-       p.mb-0.text-muted {{likes}} likes
        //-     .col-2
        //-       a.button-link(v-if="liked" v-on:click="unlike") Unlike 
        //-       a.button-link(v-else v-on:click="like") Like
      .row
        .container
          //- mark-component(v-for='mark in marks' v-bind:mark="mark" inline-template)
          //-   .card
          //-     //- .card-header
          //-     //- .card-body.row
          //-     //-   .col-2
          //-     //-     a(v-bind:href="'/users/' + mark.owner")
          //-     //-       img.d-block.rounded-circle.card-avatar(:src="mark.avatar")
          //-     //-       //- .col-2
          //-     .card-body.row
          //-         .col-lg-12
          //-           img(:src="user.avatar").d-block.rounded-circle.img-fluid.mx-auto.mb-4
          //-       .col-10
          //-         .row
          //-           .col-12.align-items-center.p-0.mb-1
          //-             a(v-bind:href="'/users/' + mark.owner")
          //-               h5.card-title @{{ mark.owner }}
          //-           .col-12.p-0
          //-             p.card-timestamp.text-muted.p-0.mb-1 {{ mark.createdAt }}
          //-         p.card-text {{ mark.body }}
          //-     .card-footer.row.text-muted(style='font-size:0.8rem')
          //-         .col-3
          //-           p.mb-0.text-muted {{likes}} likes
          //-         .col-2
          //-           a.button-link(v-if="liked" v-on:click="unlike") Unlike 
          //-           a.button-link(v-else v-on:click="like") Like
  #profile
    .section.account-banner
      .row 

        .card.settings-card
          .card-header
            .row
              .col-2
                img.d-block.rounded-circle.img-fluid(v-bind:src='user.avatar')
              .col.d-flex.align-items-center.pl-0
                h5.card-title @{{ user.handle }}
            //- .row
            .row(style='font-size:0.8rem').user-stats
              p.card-text {{ user.numFollowers}} followers
              p.card-text  {{ user.numFollowing }} following
              //- p.card-text 750 marks
            .row.edit-profile
              //- a(href="#", data-toggle='modal', data-target='#exampleModal') 
                //- p edit profile

                                
              //- template
              //- .container
              //-   .large-12.medium-12.small-12.cell
              //- label
              input.btn.btn-md.btn-primary#file(type='file', ref='file', v-on:change='handleFileUpload' style="::after=none")
              button.btn.btn-md.btn-primary(v-on:click='submitFile') Upload
                      

            //- .row(style='font-size:0.8rem')
              //- .col-5
              //-   p.mb-0.text-muted {{ mark.createdAt }}
              //- .col-4
              //-   p.mb-0.text-muted 326 likes
              //- .col-3.text-right
              //-   a(href='#') Like




        //- .col-2
        //-   .card.mb-4
        //-     .card-header
        //-       h2.h4 Profile
        //-       .row
        
        //-         .col-lg-12.text-center
        //-           h3.h5.mb-4 {{ user.handle }}
        //-       .row
        //-         .col-lg-12
        //-           .card
        //-             ul(style="font-size: 0.8rem").list-group.list-group-flush
        //-               //- li.list-group-item.d-flex.align-items-center
        //-               //-   i.material-icons.text-primary.mr-2 person
        //-               //-   | Jake Ferrante
        //-               //- li.list-group-item.d-flex.align-items-center
        //-               //-   i.material-icons.text-primary.mr-2 location_on
        //-               //-   | Orlando, FL
        //-               li.list-group-item.d-flex.align-items-center
        //-                 i.material-icons.text-primary.mr-2 group_work
        //-                 | {{ followers.length }} Followers
        //-               li.list-group-item.d-flex.align-items-center
        //-                 i.material-icons.text-primary.mr-2 chat_bubble
        //-                 | {{ marks.length }} Marks

        .col-lg-9
          .card
            .card-header
              ul.nav.nav-tabs.card-header-tabs
                li.nav-item
                  a(href="#").nav-link.active Marks
                li.nav-item
                  a(href="#").nav-link Remarks
            .card-body
              .col-lg-6.mx-auto
                .card.mb-4
                  .card-header
                    .row
                      .col-3
                        img(:src="user.avatar").d-block.rounded-circle.img-fluid
                      .col.d-flex.align-items-center.pl-0
                        h5.mb-0 @ferrantejake
                  .card-body
                    p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus lorem, semper eget erat in, aliquam imperdiet leo. Fusce ac ex et lectus euismod faucibus ac in ante. Nunc laoreet rutrum sagittis.
                  .card-footer.text-muted
                    .row(style="font-size:0.8rem")
                      .col-5
                        p.mb-0.text-muted 5/12/18 8:03 pm
                      .col-4
                        p.mb-0.text-muted 4,833 Likes
                      .col-3.text-right
                        a(href="#") Like
