extends settingsLayout

block content
  #settings
    .section.account-banner
      .row 

        .card.settings-card
          .card-header
            .row
              .col-2
                img.d-block.rounded-circle.img-fluid(v-bind:src='user.avatar')
              .col.d-flex.align-items-center.pl-0
                h5.card-title @{{ user.handle }}
            //- .row
            .row(style='font-size:0.8rem').user-stats
              p.card-text {{ user.numFollowers}} followers
              p.card-text  {{ user.numFollowing }} following
              //- p.card-text 750 marks
            .row.edit-profile
              //- a(href="#", data-toggle='modal', data-target='#exampleModal') 
                //- p edit profile

                                
              //- template
              //- .container
              //-   .large-12.medium-12.small-12.cell
              //- label
              input.btn.btn-md.btn-primary#file(type='file', ref='file', v-on:change='handleFileUpload' style="::after=none")
              button.btn.btn-md.btn-primary(v-on:click='submitFile') Upload
                      

            //- .row(style='font-size:0.8rem')
              //- .col-5
              //-   p.mb-0.text-muted {{ mark.createdAt }}
              //- .col-4
              //-   p.mb-0.text-muted 326 likes
              //- .col-3.text-right
              //-   a(href='#') Like

    .section.content-spacer
    .section.user-options
      .row.account-row    
        ul.list-group.list-group-flush
          //- li.list-group-item
          //-   a(href="/account") Account
          li.list-group-item
            a(href="/followers") Followers
          li.list-group-item
            a(href="/following") Following
    .section.content-spacer
    .section.user-options.mark-information
      .row.account-row
        ul.list-group.list-group-flush
          //- li.list-group-item
          //-   a(href="/account") Account
          li.list-group-item
            a(href="/about") About Mark
          li.list-group-item
            a(href="/terms") Terms of Use
    
    .section.content-spacer