extends layoutLoggedOut

block content
  h1= title
  .section
    .row
      .container
        #signup

          form()
            .form-group 
              input(type="text", v-model="inputUsername" id="inputUsername", class="form-control", placeholder="Username").form-control
              input(type="password", v-model="inputPassword" id="inputPassword", class="form-control", placeholder="Password").form-control
              input(type="tel", v-model="inputPhone" id="inputPhone", class="form-control", placeholder="Phone Number").form-control
              button(id="confirmationButton" class="btn btn-lg btn-primary btn-block", v-on:click="getConfirmationCode",type="button") Get Confirmation Code
            .form-group
              input(disabled id="inputCode" type="text", v-model="inputCode", class="form-control", v-bind:class="{active: isActive}", placeholder="Confirmation Code")
              recaptcha-component(@captcha_result="captchaResult" @captcha_expired="captchaExpired")
              button(disabled id="createAccountButton" class="btn btn-lg btn-primary btn-block", v-on:click="submitForm", v-bind:class="{active: isActive}", type="button") Submit
            a.active(href='/login') or Login
  
    
  script(src='js/sha256.min.js')