title=title
extends layout

block content
  .container
    .row
      .col
        h1.mb-4 Sign Up
    .row
      .col-lg-4
        #signup
          form
            .form-group
              label(for="inputUsername").sr-only Email Address
              input(type='email' v-model='inputUsername' placeholder='email@address.com').form-control
            .form-group
              label(for="inputPassword").sr-only Password
              input(type="password" v-model="inputPassword" placeholder="Password").form-control
            .form-group
              label(for="inputPhone").sr-only Phone Number
              input(type="tel" v-model="inputPhone" placeholder="(407) 123-4567").form-control
            button(class="btn btn-lg btn-primary btn-block" v-on:click="getConfirmationCode" type="button").form-group Send Verification Code   
            .form-group
              label(for="inputCode").sr-only Confirmation Code
              input(type="text" v-model="inputCode" v-bind:class="{active: isActive}" placeholder="Confirmation Code").form-control
            button(class="btn btn-lg btn-primary btn-block" @click="submitForm" v-bind:class="{active: isActive}" type="button") Sign Up