/* Global */

/* Search */
.search-wrapper {
    /* height: 1rem; */
    padding: 1rem;
    border: none;
    /* border-bottom: thin solid darkgray */
    position: relative;
}

#search {
    padding:0;
}

#search > input {
    border-radius: 30px;
    width: 100%;
    margin: 0;
    height: 40px;
    z-index:10;
    position: relative;
}


#search-results {
    position: relative;
    top: -20px;
    width:100%;
    z-index:0;
}

.search-results-spacer {
    background:gainsboro;
    height:20px;
    z-index:5;
}



/* Feed */

#feed {
    padding: 0;
}

.card {
    width:100%;
    border-radius: 0px;
    border: 0;
    border-bottom: thin solid darkgray
}

.card-header, .card-body, .card-footer {
    border:none
}
.card-header, .card-footer {
    background: none;
}

.card-header > .row > .col-2 {
    padding-left: 0;
    padding-right: 1rem;
}


.card-header {
    padding: 1rem 1.25rem 0;
}

.card-body {
    padding: 0 1rem 1rem 4.7rem;
}

.card-footer {
    padding: 0 3.8rem 1rem;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
}
.button-link {
    background:none;
    border:none;
}