extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    | try navigating to 
    | <a href="http://localhost:4000/welcome">welcome</a>
    | or
    | <a href="http://localhost:4000/teapot">teapot</a>
